extends layout.pug

block content
    h1.title Spotify Demo App
    <div class="wrapper btn-center">
      <a href="/authorize">
        <button class="login-text">Log in</button>
      </a>
    </div>
