doctype=html
html
  head
    title Spotify Demo App
    link(rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css')
    link(rel='stylesheet' href='/style.css')

  body
    <div class="navbar">
      a(href="/dashboard") Home
      a(href="/dashboard") Github
      a(href="/dashboard") Portfolio
      p Made by vshinji.
    </div>
    block content
